<a href="https://colab.research.google.com/github/vaishtiwari74/PythonBatch11MayPublic/blob/main/pratice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python program to print a multiplication table of a given number
n=5
i=1
while i<=10:
  print(i*n)
  i+=1

In [ ]:
#Print the first 10 natural numbers using for loop.
for i in range(1,11):
  print(i)

In [ ]:
#Python program to calculate the sum of all numbers from 1 to a given number.
sum=0
for i in range(1,5):
  sum=sum+i

print(sum)

In [ ]:
#Python program to print all the even numbers within the given range.
n=int(input())
for i in range(1,n):
  if(i%2==0):
    print(f"{i} is even")
  else:
    print(f"{i} is odd")

In [ ]:
sum=0
for i in range(1,10):
  if(i%2==0):
    sum=sum+i
    print(i)

print(sum)

In [ ]:
var1=1
var2=2
var="3"
print(var1+var2+var3)

In [ ]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

In [ ]:
print(10 == 9)

In [ ]:
fruits = ["apple", "banana"]
if "apple" in fruits:
  print("Yes, apple is a fruit!")

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[2:5])

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
i = 1
while i < 6:
  if i == 3:
    break

  i += 1

In [ ]:
salary = int(input("enter the salary : "))
print("salary")
year_of_service=int(input("enter the year of service :"))
print("year of salary")
if(year_of_service >5):
  print("Bonus is",salary*5)
else:
  print("no,Bonus")

In [ ]:
length=int(input("enter the length: "))
breadth=int(input("enter the length: "))
if(length==breadth):
  print( "it is square")
else:
  print(" it is not square, it is rectangle")

In [ ]:
quantity=int(input("enter the quantity : "))
print("quantity")
if(quantity*100>1000):
  print("cost is",(quantity*100)-(.1*quantity*100))
else:
  print("cost is",quantity*100),

In [ ]:
4held_class=int(input())
print(held_class)
attend_class=int(input())
print(attend_class)
atten=(((attend_class)/(held_class))*100)
print("attendance=", atten)
if(atten>=75):
  print("allowed to sit in exam")
else:
  print("not allowed to sit in exam")

In [ ]:
marks=int(input("enter the marks : "))
if(marks>=80):
  print("A")
elif(marks<=80 and marks>=70):
  print("B")
elif(marks<=60 and marks>=50):
  print("C")
elif(marks<=50 and marks>=45):
  print("D")
elif(marks<=45 and marks>=25):
  print("E")
else:
  print("HHH")

In [ ]:
# strings

str="Refrigerator"
print(len(str))

In [ ]:
a = raw_input()
for i in a:
  print(i)

In [ ]:
print("hello")