<a href="https://colab.research.google.com/github/PythonBatch11thMay/PythonBatch11MayPublicOrg/blob/main/Day4/Day4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accessing List Element

In [1]:
# Define a list
my_list = [10, 20, 30, 40, 50]

# Accessing elements by index
print(my_list[0])  # Output: 10
print(my_list[-1])  # Output: 50 (last element)

# Accessing a slice of elements
print(my_list[1:4])  # Output: [20, 30, 40] (elements from index 1 to 3)

my_list = ['Hello', 'world', '!']
my_string = ' '.join(my_list)
print(my_string)  # Output: Hello world !

my_string = "Hello world !"
my_list = my_string.split()
print(my_list)  # Output: ['Hello', 'world', '!']

10
50
[20, 30, 40]

Appending List

In [3]:
# Define a list
my_list = [10, 20, 30]

# Appending elements
my_list.append(40)  # Add 40 to the end of the list
print(my_list)  # Output: [10, 20, 30, 40]
my_list+=[50]
# Removing elements
my_list.remove(20)  # Remove the first occurrence of 20
print(my_list)  # Output: [10, 30]

[10, 20, 30, 40]
[10, 30, 40, 50]

Iterating List

In [4]:
# Define a list
my_list = [10, 20, 30, 40, 50]

# Iterating over elements
for item in my_list:
    print(item)
# Output:
# 10
# 20
# 30
# 40
# 50

10
20
30
40
50

Merge Two List

In [4]:
# Define two lists
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenating lists
concatenated_list = list1 + list2
print(concatenated_list)  # Output: [1, 2, 3, 4, 5, 6]

# Repeating elements in a list
repeated_list = list1 * 3
print(repeated_list)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

Problems on List

In [5]:
#Write a Python code to calculate the element-wise sum of two lists and store the result in a new list.
#Write a Python code to find the common elements in two lists and store them in a new list.
#Write a Python code to remove duplicate elements from a list while preserving the original order.
#Write a Python code to find the maximum element in a nested list.

Solutions

In [6]:
#1
list1 = [1, 2, 3, 4]
list2 = [5, 6, 7, 8]


result = []
for i in range(len(list1)):
    result.append(list1[i] + list2[i])
print(result)  # Output: [6, 8, 10, 12]

# result = [list1[i] + list2[i] for i in range(len(list1))]
# print(result)  # Output: [6, 8, 10, 12]


#2
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# common_elements = []
# for item in list1:
#     if item in list2:
#         common_elements.append(item)
# print(common_elements)  # Output: [4, 5]


common_elements = [item for item in list1 if item in list2]
print(common_elements)  # Output: [4, 5]



#3
my_list = [1, 2, 2, 3, 4, 4, 5]

result = []
for item in my_list:
    if item not in result:
        result.append(item)
print(result)  # Output: [1, 2, 3, 4, 5]


# result = []
# [result.append(item) for item in my_list if item not in result]
# print(result)  # Output: [1, 2, 3, 4, 5]


#4
nested_list = [[1, 2, 3], [4, 10, 6], [7, 8, 9]]

max_element = 1
for sublist in nested_list:
    for item in sublist:
        if item > max_element:
            max_element = item
print(max_element)  # Output: 9

max_element = max(item for sublist in nested_list for item in sublist)
print(max_element)  # Output: 9

[6, 8, 10, 12]
[4, 5]
[1, 2, 3, 4, 5]
10
10

Tuple

In [8]:
# Tuple
my_tuple = (10, 20, 30, 40, 50)

# Accessing the third element
third_element = my_tuple[2]
print(third_element)  # Output: 30


# Tuple
my_tuple = (1, 2, 3, 4, 5)

# Iterating over tuple
for item in my_tuple:
    print(item)
# Output:
# 1
# 2
# 3
# 4
# 5


# Accessing elements in a tuple is fast
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple[2])  # Output: 3

# Modifying elements in a tuple (this will raise an error)
my_tuple[2] = 10

30
30
1
2
3
4
5

Problems on Tuple

In [ ]:
# Write a Python code to merge two tuples into a single tuple.
# Write a Python code to reverse the elements of a tuple.
# Write a Python code to check if a tuple is a palindrome (reads the same forwards and backwards).

In [9]:
# Write a Python code to merge two tuples into a single tuple.

tuple1 = ('a', 'b', 'c')
tuple2 = ('x', 'y', 'z')

# Solution
merged_tuple = tuple1 + tuple2
print(merged_tuple)  # Output: ('a', 'b', 'c', 'x', 'y', 'z')

# Write a Python code to reverse the elements of a tuple.

my_tuple = (1, 2, 3, 4, 5)

# Solution
reversed_tuple = my_tuple[::-1]
print(reversed_tuple)  # Output: (5, 4, 3, 2, 1)



# Write a Python code to check if a tuple is a palindrome (reads the same forwards and backwards).

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

# Solution
is_palindrome = palindrome_tuple == palindrome_tuple[::-1]
print(is_palindrome)  # Output: True

is_palindrome = non_palindrome_tuple == non_palindrome_tuple[::-1]
print(is_palindrome)  # Output: False

('a', 'b', 'c', 'x', 'y', 'z')
(5, 4, 3, 2, 1)
{1: 1, 2: 2, 3: 3, 4: 4}
True
False

Dictonary

In [8]:
person = {
    'name': 'Alice',
    'age': 30,
    'city': 'New York'
}


# Accessing information about the person
print(person['name'])  # Output: Alice
print(person['age'])   # Output: 30


# Nested dictionary representing a student's information
student = {
    'name': 'mithun',
    'age': 25,
    'courses': ['Math', 'Physics'],
    'grades': {'Math': 90, 'Physics': 85}
}

# Adding a new key-value pair
person['email'] = 'mithun@example.com'

# Updating an existing value
person['age'] = 31

# Removing a key-value pair
del person['city']

# Iterating over keys
for key in person:
    print(key)

# Iterating over values
for value in person.values():
    print(value)

# Iterating over key-value pairs
for key, value in person.items():
    print(key, value)

Alice
30
name
age
email
Alice
31
mithun@example.com
name Alice
Alice
age 31
31
email mithun@example.com
mithun@example.com

**Problem on Dict**

In [11]:
# Problem 1: Student Information Management
# You have a list of dictionaries where each dictionary represents information about a student (name, age, and grades).
# Write a Python code to calculate the average grade for each student and add it to their dictionary.

# Problem Statement
students = [
    {'name': 'Alice', 'age': 20, 'grades': [85, 90, 95]},
    {'name': 'Bob', 'age': 21, 'grades': [70, 75, 80]},
    {'name': 'Charlie', 'age': 22, 'grades': [90, 95, 100]}
]

# Solution
for student in students:
    avg_grade = sum(student['grades']) / len(student['grades'])
    student['avg_grade'] = avg_grade

print(students)


# Problem 2: Inventory Management
# You have a dictionary representing the inventory of a store (item name as key and quantity as value).
# Write a Python code to update the inventory based on sales (given as another dictionary).

# Problem Statement
inventory = {'apple': 10, 'banana': 20, 'orange': 15}
sales = {'apple': 3, 'banana': 5}

# Solution
for item, quantity_sold in sales.items():
    if item in inventory:
        inventory[item] -= quantity_sold

print(inventory)


# Problem 3: Word Frequency Analysis
# You have a list of words. Write a Python code to count the frequency of each word and store it in a dictionary.

# Problem Statement
words = ['apple', 'banana', 'apple', 'orange', 'banana', 'apple']

# Solution
word_freq = {}
for word in words:
    if word in word_freq:
        word_freq[word] += 1
    else:
        word_freq[word] = 1

print(word_freq)

[{'name': 'Alice', 'age': 20, 'grades': [85, 90, 95], 'avg_grade': 90.0}, {'name': 'Bob', 'age': 21, 'grades': [70, 75, 80], 'avg_grade': 75.0}, {'name': 'Charlie', 'age': 22, 'grades': [90, 95, 100], 'avg_grade': 95.0}]
{'apple': 7, 'banana': 15, 'orange': 15}
{'apple': 3, 'banana': 2, 'orange': 1}

**Set**

In [9]:
# Creating a set of integers
my_set = {1, 2, 3, 4, 5}
print(my_set)  # Output: {1, 2, 3, 4, 5}

# Creating a set of strings
my_set = {'apple', 'banana', 'orange'}
print(my_set)  # Output: {'apple', 'banana', 'orange'}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()

# Union of two sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)  # Output: {1, 2, 3, 4, 5}

# Intersection of two sets
intersection_set = set1.intersection(set2)
print(intersection_set)  # Output: {3}

# Difference between two sets
difference_set = set1.difference(set2)
print(difference_set)  # Output: {1, 2}

# Adding elements to a set
my_set = {1, 2, 3}
my_set.add(4)
print(my_set)  # Output: {1, 2, 3, 4}

# Removing elements from a set
my_set.remove(3)
print(my_set)  # Output: {1, 2, 4}

# Set comprehension
squared_numbers = {x**2 for x in range(5)}
print(squared_numbers)  # Output: {0, 1, 4, 9, 16}


my_set = {3, 1, 2}

# Adding elements to the set
my_set.add(4)
my_set.add(5)

# Removing an element from the set
my_set.remove(2)

print(my_set)

{1, 2, 3, 4, 5}
{'apple', 'orange', 'banana'}
set()
{1, 2, 3, 4, 5}
{3}
{1, 2}
{1, 2, 3, 4}
{1, 2, 4}
{0, 1, 4, 9, 16}
{1, 3, 4, 5}