<a href="https://colab.research.google.com/github/PythonBatch11thMay/PythonBatch11MayPublicOrg/blob/main/Day3/Day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Indentation**

In [ ]:
# Example of indentation
if True:
    print("This is indented")
else:
    print("This is also indented")

numbers = [10, 20, 30, 40, 50]
sum = 0
# Incorrect indentation
for num in numbers:
  sum += num
average = sum / len(numbers)
print("Average:", average)

# **If statement and its related statement**

In [ ]:
# Example of if statement
x = 10
if x > 5:
    print("x is greater than 5")
elif x == 5:
    print("x is equal to 5")
else:
    print("x is less than 5")


#Example 2
# User details
user_name = "John"
loyalty_tier = "Gold"
total_purchase_amount = 500

# Define discount rates for each loyalty tier
silver_discount_rate = 0.05  # 5%
gold_discount_rate = 0.1     # 10%
platinum_discount_rate = 0.15 # 15%

# Calculate discount based on loyalty tier
if loyalty_tier == "Silver":
    discount = total_purchase_amount * silver_discount_rate
elif loyalty_tier == "Gold":
    discount = total_purchase_amount * gold_discount_rate
elif loyalty_tier == "Platinum":
    discount = total_purchase_amount * platinum_discount_rate
else:
    print("Invalid loyalty tier")
    discount = 0

# Calculate final amount to be paid
final_amount = total_purchase_amount - discount

# Display receipt
print("Receipt for:", user_name)
print("Total Purchase Amount: $", total_purchase_amount)
print("Discount Applied: $", discount)
print("Final Amount to be Paid: $", final_amount)

# **Range**

In [ ]:
#Example1
for num in range(0,10,1):
    print(num)
#Example2
even_sum = 0
for num in range(2, 101, 2):
    even_sum += num
print("Sum of even numbers from 1 to 100:", even_sum)
#Example3
num = 5
for i in range(1, 11):
    print(num, "x", i, "=", num * i)
#Example4
for num in range(1, 11):
    print("Square of", num, ":", num ** 2)

# **For Loop**

In [ ]:
# Example of for loop
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

#complex Example

# Sales data: Date, Product Name, Quantity Sold, Total Revenue
sales_data = [
    {"date": "2024-05-01", "product": "Laptop", "quantity": 10, "revenue": 5000},
    {"date": "2024-05-01", "product": "Mouse", "quantity": 50, "revenue": 500},
    {"date": "2024-05-02", "product": "Keyboard", "quantity": 20, "revenue": 1000},
    {"date": "2024-05-02", "product": "Laptop", "quantity": 5, "revenue": 2500},
    {"date": "2024-05-03", "product": "Mouse", "quantity": 30, "revenue": 300},
    {"date": "2024-05-03", "product": "Keyboard", "quantity": 15, "revenue": 750}
]

# Initialize a dictionary to store total revenue for each product
product_revenue = {}

# Iterate over the sales data to calculate total revenue for each product
for transaction in sales_data:
    product_name = transaction["product"]
    revenue = transaction["revenue"]
    if product_name in product_revenue:
        product_revenue[product_name] += revenue
    else:
        product_revenue[product_name] = revenue

# Display total revenue for each product
print("Total Revenue by Product:")
for product, revenue in product_revenue.items():
    print(f"{product}: ${revenue}")

# **While Loop**

In [ ]:
# Example of while loop
i = 0
while i < 5:
    print(i)
    i += 1


while True:
    temperature, humidity = read_sensor_data()  # Function to read sensor data
    if temperature > 30 and humidity > 60:
        activate_cooling_system()  # Function to activate cooling system
        print("High temperature and humidity detected. Cooling system activated.")
    elif temperature < 10:
        activate_heating_system()  # Function to activate heating system
        print("Low temperature detected. Heating system activated.")
    else:
        print("Temperature and humidity within acceptable range.")

    time.sleep(300)  # Wait for 5 minutes before reading data again

# **Break and Continue**

In [ ]:
# Example of break and continue
for i in range(10):
    if i == 3:
        break
    print(i)

for i in range(5):
    if i == 2:
        continue
    print(i)

queue = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank"]

for customer in queue:
    print(f"Next customer in line: {customer}")

    # Check if customer needs special assistance
    if customer == "Charlie":
        print("Charlie needs special assistance. Skipping to the next customer.")
        continue

    # Process customer's transaction
    print(f"Processing transaction for {customer}.")

    # Check if the bank is closing
    if customer == "Eve":
        print("Bank is closing. No more customers allowed.")
        break

print("End of the day. Bank is closed.")

# **Practice Problems**

In [ ]:
#Practice 1. Write a program that checks if a given number is positive, negative, or zero.
#Practice 2: Create a loop that prints the first 10 even numbers.
#Practice 3: Implement a program that finds the largest number in a list.
#Practice 4: Find out missing number from sequenced list using range
"""Pravtice 5: You are a data analyst at a company that sells electronic devices.
You are given a dataset containing information about the sales of smartphones over the past month.
Each record in the dataset includes the following information: the model of the smartphone sold, the quantity sold,
and the revenue generated from those sales. Write a program to analyze this dataset and calculate the total number of smartphones sold,
the total revenue generated, and the average revenue per smartphone sold."""

# **Solution**

In [ ]:
#1
num = float(input("Enter a number: "))
if num > 0:
  print("Positive")
elif num < 0:
  print("Negative")
else:
  print("Zero")

In [ ]:
#2
count = 0
number = 0

while count < 10:
    if number % 2 == 0:
        print(number)
        count += 1
    number += 1

In [ ]:
#3
num_list = [5, 8, 2, 15, 3, 10]

if not num_list:
  print("invalid")
max_num = num_list[0]
for num in num_list:
  if num > max_num:
    max_num = num
print(max_num)

In [ ]:
#4
# List of variable values
variable_values = [1, 2, 3, 4, 5, 6, 7, 9,10]

missing_value = None

# Loop through the range from 1 to 10
for i in range(1, 11):
    # Check if the value is missing
    if i not in variable_values:
        missing_value = i
        break

if missing_value:
    print(f"The missing value is: {missing_value}")
else:
    print("No value is missing from 1 to 10.")

In [ ]:
#5
# Dataset containing smartphone sales: (model, quantity sold, revenue)
sales_data = [("iPhone 12", 100, 10000), ("Samsung Galaxy S21", 150, 12000), ("Google Pixel 5", 80, 8000)]

total_sold = 0
total_revenue = 0

# Analyzing the dataset
for model, quantity, revenue in sales_data:
    total_sold += quantity
    total_revenue += revenue

average_revenue_per_phone = total_revenue / total_sold

print("=== Sales Analysis ===")
print(f"Total smartphones sold: {total_sold}")
print(f"Total revenue generated: {total_revenue}")
print(f"Average revenue per smartphone: {average_revenue_per_phone}")