<a href="https://colab.research.google.com/github/PythonBatch11thMay/PythonBatch11MayPublicOrg/blob/main/Day8/CodingTest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Coding Test**
Question 1

Write a function invert_dict that takes a dictionary and returns a new dictionary where the keys are the values and the values are the keys.

Question 2

Write a function find_second_largest that takes a list of integers and returns the second largest number in the list.

Question 3

Write a function swap_first_last that takes a tuple and returns a new tuple with the first and last elements swapped.

Question 4

Given an List of integers nums and an integer target, return the indices of the two numbers such that they add up to the target.

In [ ]:
print(two_sum([2, 7, 11, 15], 9))  # Output: [7,2]

Question 5

Given a string aaaaaagggggggfffttttt, return the frequency of each character in the format: "a6g7f3t5".

Question 6

Write a function convert_currency that takes an amount in USD and converts it to a specified currency using an exchange rate provided in a dictionary.

In [ ]:
exchange_rates = {"EUR": 0.85, "JPY": 110.0, "GBP": 0.75}

Question 7

Write a function average_temperature and average_daily_temperature that takes a list of dictionaries containing daily weather data and returns the average temperature for the given period.

In [ ]:
weather_data =[
    {'date': '2024-05-11', 'temperature': 18.9},
    {'date': '2024-05-03', 'temperature': 22.4},
    {'date': '2024-05-25', 'temperature': 20.1},
    {'date': '2024-05-28', 'temperature': 22.2},
    {'date': '2024-05-09', 'temperature': 24.5},
    {'date': '2024-05-25', 'temperature': 21.2},
    {'date': '2024-05-26', 'temperature': 17.8},
    {'date': '2024-05-04', 'temperature': 23.4},
    {'date': '2024-05-23', 'temperature': 16.5},
    {'date': '2024-05-09', 'temperature': 20.2}
]

Question 8

Healthcare Management System

Create a system to manage patient records in a healthcare setting. Implement a Patient class to store patient details, and a PatientDatabase class to manage the collection of patients. The system should include functionalities to:
Add a new patient.
Remove a patient by ID.
Search for patients by condition.
Calculate the average age of all patients.
Display all patient details.
Update a patient's medical condition.