<a href="https://colab.research.google.com/github/PythonBatch11thMay/PythonBatch11MayPublicOrg/blob/main/Day2/Day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The print statement**

In [ ]:
# Example 1: Printing a string
print("Hello, World!")

# Example 2: Printing multiple items

name = "Alice"
age = 30
print(f"Name: {name} Age: {age}")

print("Name:", name, "Age:", age)

# Example 3: Printing with formatting
score = 95.5
print(f"Score: {score}")

# **Variables**

In [ ]:
# Example 1: Integer variable
age = 25

# Example 2: Floating-point variable
pi = 3.14

# Example 3: String variable
name = "Alice"

# Example 4: Boolean variable
is_student = True

# Example 5: List variable
numbers = [1, 2, 3, 4, 5]

# Example 6: Tuple variable
coordinates = (10, 20)

# Example 7: Dictionary variable
person = {"name": "Bob", "age": 30}

# Example 8: Set variable
unique_numbers = {1, 2, 3, 4, 5}

# Example 9: None variable
result = None


# Assigning and reassigning variables
x = 10
x = "Hello"

# Dynamic typing
x = 10  # x is an integer
x = "Hello"  # Now x is a string

# **comments**

In [ ]:
# Example 1: Single-line comment
# This is a comment
#a=10
# Example 2: Multi-line comment
"""
This is a multi-line comment
It can span multiple lines
"""
# a=10
# a=10
# a=10
# a=10
#ctrl + /


# Example 3: Comments for clarification
total = 100  # Total number of items

# **Python Data Structures & Data Types**

In [ ]:
# Example 1: Lists
fruits = ["apple", "banana", "orange"]

# Example 2: Dictionaries
person = {"name": "Alice", "age": 30, "city": "New York"}

# Example 3: Tuples
coordinates = (10, 20)

# **String Operations in Python**

In [ ]:
# Example 1: Concatenation
greeting = "Hello"
name = "Alice"
message = greeting + ", " + name + "!"

# Example 2: String methods
sentence = "hello, world"
uppercase_sentence = sentence.upper()

# Example 3: String slicing
word = "Python"
first_three_letters = word[:3]

name="Mithun"
name=name[0:3]
print(name)

# **Simple input & output**

In [ ]:
# Example 1: Simple input
name = input("Enter your name: ")
print("Hello,", name)

# Example 2: Calculations based on input
age = int(input("Enter your age: "))
year_of_birth = 2024 - age
print("You were born in", year_of_birth)

# Example 3: Output based on condition
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

# **Simple Output Formatting**

In [ ]:
# Example 1: Using format()
name = "Alice"
age = 30
print("Name: {}, Age: {}".format(name, age))
print(f"Name: {name}, Age: {age}")
# Example 2: Padding numbers
num = 5
print("Padded number:", "{:05d}".format(num))

# Example 3: Formatting floating-point numbers
pi = 3.14159
print("Value of pi: {:.2f}".format(pi))

# **Operators in Python**

In [ ]:
# Example 1: Arithmetic operators
x = 10
y = 3
print("Addition:", x + y)
print("Subtraction:", x - y)
print("Multiplication:", x * y)


a=10 # 10
a==10 # True False

# Example 2: Comparison operators
a = 5
b = 10
print("Is a greater than b?", a > b)
print("Is a equal to b?", a == b)

# Example 3: Logical operators
is_raining = True
is_sunny = False
print("Is it not raining and sunny?", not is_raining and is_sunny) #False and False

# **Numeric Types**

In [ ]:
# Examples
num_int = 10
num_float = 3.14

# **Sequence Types**

In [ ]:
# Examples
my_list = [1, 2, 3, 4, 5]
my_tuple = (1, 2, 3)
my_string = "Hello"

# **Mapping Type**

In [ ]:
# Example
my_dict = {"name": "Alice", "age": 30, "city": "New York"}

# **Boolean Type**

In [ ]:
# Examples
is_raining = True
is_sunny = False